#root {
  max-width: 1280px;
  margin: 2rem auto;  /* Added margin for top/bottom spacing */
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}